/* font definition */
@font-face {
  src: url('../assets/fonts/abril.ttf');
  font-family: 'abril'
}
@font-face {
  src: url('../assets/fonts/poppins.ttf');
  font-family: 'poppins'
}

/* swatch */
:root{
  --light: #eeeeee;
}

/* reset */
body{
  font-family: 'poppins'
}
h1,h2{
  font-family: 'abril'
}
.g-0{
  margin: 0 -.75rem !important;
}

/* hero component */
.hero-con{
  width: 100%;
  height: 100vh;
  background: url('../assets/images/hero-landscape.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
  color: var(--light);
}
.hero-overlay{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #b10a02 0%, #000000 100%);
  opacity: .8;
}
.hero-text{
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 40%;
  text-align: center;
  text-transform: uppercase;
}
.hero-text h3{
  margin: 0px;
}
.hero-text h1{
  margin: 0px;
  font-size: 5rem;
  animation: widen 2s;
  letter-spacing: 10px;
}
@keyframes widen {
  0%{
    letter-spacing: 0px;
  }
  70%{
    letter-spacing: 15px;
  }
  100%{
    letter-spacing: 10px;
  }
}
.btn-swipe-down{
  position: absolute;
  z-index: 3;
  font-size: 32px;
  color: var(--light);
  left: 47%;
  animation: pulseDown 2s infinite;
  background: transparent;
  border: none;
}
@keyframes pulseDown {
  0%{
    bottom: 4rem;
    opacity: .2;
  }
  70%{
    bottom: 2rem;
    opacity: 1;
  }
  100%{
    bottom: 4rem;
    opacity: .2;
  }
}
@media screen and (max-width: 768px) {
  .hero-con{
    background: url('../assets/images/hero-potrait.jpg') no-repeat center top;
  }
}

/* player component */
.player{
  min-height: 100vh;
  width: 100%;
  background-color: #ccc;
  padding: 5rem;
  box-shadow: 0 0 10px #555;
}
.player-panel{
  position: relative;
  height: 80vh;
  background-color: #ffffff;
}
.player-panel-top{
  background-color: #000;
  padding: 10px;
  text-align: center;
}
.player-panel-top img{
  width: 50%;
}
.player-panel-bottom{
  background-color: #ffffff;
  padding: 10px 30px ;
  position: relative;
}
.player-panel-bottom span{
  font-size: 10px;
  color: #474
  222222c0;
}
.playlist{
  background: linear-gradient(90deg, #b10a0230 0%, #00000010 100%);
  height: 80vh;
  color: #000000;
  overflow: hidden;
  position: relative;
}
.playlist-header{
  padding: 30px;
  box-shadow: 10px 0 10px #555555a0;
  background: url('../assets/images/player-bg.jpg') center;
  background-color: #eeeeeec0;
  background-blend-mode: overlay;
}
.playlist-list ul{
  list-style-type: none;
  padding: 0;
  height: 285px;
  overflow-y: scroll;
}
.playlist-list ul::-webkit-scrollbar              {
  width: 5px;
 }
.playlist-list ul::-webkit-scrollbar-track-piece  {
  background-color: #22222220;
 }
.playlist-list ul::-webkit-scrollbar-thumb        {
  background-color: #22222280;
 }

.playlist-list ul li{
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #ffffff30;
  position: relative;
}
.playlist-list ul li:hover{
  background-color: #eeeeee30;
}
.playlist-list ul li p{
  margin: 0;
}
.playlist-list ul li span{
  position: absolute;
  right: 20px;
}
.playlist-list ul li.active{
  background-color: #eeeeeec0;
  font-weight: bolder;
}
.player-controll{
  filter: invert(100%);
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #efefef;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .player{
    padding: 0;
  }
  .player-panel{
    margin: 0px;
    height: initial;
  }
  .playlist{
    height: initial;
  }
  .player-panel-top img{
    width: 100%;
  }
  .player-panel-bottom{
    padding-bottom: 40px;
  }
  .player-footer{
    position: relative;
  }
  .player-controll{
    position: fixed;
  }
}

/* player footer component */
.player-footer{
  background-color: #fff;
  opacity: .4;
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
}
